<!DOCTYPE html>
<html>
    <head>
        <title> Ruby origin </title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Welcome#index</h1>
        <p>Find me in app/views/welcome/index.html.erb</p>
        <%= link_to 'My Blog', controller: 'articles' %>
        <%= link_to 'New article', new_article_path %>
        
        <h2> hisss </h2>
        <button id="rbutton"
                type="button"> 
        </button>
        <table>
            <tr>
                <th>No.</th>
                <th>Name</th>
            </tr>
            <tr>
                <th>11111</th>
                <th>ffff</th>
            </tr>
        </table>
    </body>
    <script>
        function goArticles() {
            alert("Hello World!");
        }
    
    </script>
</html>
